body{
    color: rgb(31, 31, 31);
    background-color: aqua;
}


.container {
    width: 720px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgb(103, 103, 103);
}

div {
    margin: 10px 0;
}